
.Loading{
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
}

.ContainerAppointments {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}
