.containerGeneral-Home {
    .containerCentral-Home {
        .title-Home {
            border: solid black 0.2em;
            height: 20em;
            color: rgba(15, 65, 55, 0.849);
            background-color: rgb(60, 197, 197);
        }
    }
    .containerServices-Home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }
    .containerServices-Home-row {
        display: grid;
        gap: 10em;
        .cardServices-Home {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 10fr 0.5fr 0.5fr;
            justify-items: center;
            align-items: center;
            width: 15em;
            height: 15em;
            margin: 3em;
            text-align: center;

            img {
                width: 5em;
                height: 5em;
            }
        }
    }
}
